.about {
  background-color: white;
}

.about-text {
  padding: 0 51px 26px 51px;
  max-width: 800px;
  h2 {
    font-size: em(29);
    font-style: italic;
    font-family: 'Benton', serif;
    color: #ea8743;
  }
  p {
    font-size: em(13);
    font-family: 'Benton', serif;
    font-style: italic;
  }
  p+p {
    margin-top: 1.5em;
  }
}

.team {
  overflow: hidden;
  padding: 5px 26px;
}

.member {
  width: 25%;
  float: left;
  padding: 5px;
  &:hover {
    cursor: pointer;
  }
}

.bios {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: none;
}

.bio {
  overflow: hidden;
  width: 100%;
  max-width: 870px;
  display: none;
}

.bio-text {
  float: right;
  width: 50%;
  div {
    margin-top: 50%;
    @include transform(translateY(-50%));
    padding: 0 51px;
    text-align: center;
  }
  h3 {
    font-size: em(29);
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 600;
    color: #47546d;
    margin-bottom: .5em;
  }
  p {
    font-size: em(11);
    font-family: 'Benton', serif;
    display: none;
  }
  p.show {
    display: block;
  }
  nav svg {
    display: none;
  }
}

.bio-image {
  float: left;
  width: 50%;
  padding: 5px;
}

.bio-text nav a {
  width: 7px;
  height: 9px;
}

.about-next, .about-prev {
  width: 7px;
  fill: #777;
  margin: 0 3px;
  &:hover {
    cursor: pointer;
    fill: #333;
  }
}

@media only screen and (max-width: 960px){
  .bio-text {
    div {
      padding: 0 26px;
    }
    h3 {
      font-size: em(26);
    }
  }
}


@media only screen and (max-width: 800px){
  .size-check {
    float: left;
  }

  .member {
    width: 50%;
    float: left;
    padding: 5px;
  }

  .bio-text {
    h3 {
      font-size: em(20);
    }
  }
}

@media only screen and (max-width: 700px){



  .about-text {
    padding: 0 26px 26px 26px;
  }


  .bio-text {
    float: none;
    width: 100%;
    padding: 13px 26px;
    div {
      margin-top: 0;
      @include transform(translateY(0));
    }
  }

  .bio-image {
    float: none;
    width: 100%;
    padding: 5px;
    img {
      max-width: 221px;
      margin: 0 auto;
    }
  }

}

@media only screen and (max-width: 480px){
  .about-next, .about-prev {
    width: 8px;
    margin: 0 5px;
  }  
}



