@font-face {
    font-family: 'BentonSans';
    src: url('../fonts/BentonSansRegular.eot');
    src: url('../fonts/BentonSansRegular.eot') format('embedded-opentype'),
         url('../fonts/BentonSansRegular.woff2') format('woff2'),
         url('../fonts/BentonSansRegular.woff') format('woff'),
         url('../fonts/BentonSansRegular.ttf') format('truetype'),
         url('../fonts/BentonSansRegular.svg#BentonSansRegular') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'BentonSansMedium';
    src: url('fonts/BentonSansMedium.eot');
    src: url('fonts/BentonSansMedium.eot') format('embedded-opentype'),
         url('fonts/BentonSansMedium.woff2') format('woff2'),
         url('fonts/BentonSansMedium.woff') format('woff'),
         url('fonts/BentonSansMedium.ttf') format('truetype'),
         url('fonts/BentonSansMedium.svg#BentonSansMedium') format('svg');
    font-weight: 500;
    font-style: normal; 
}


@font-face {
    font-family: 'BentonSans';
    src: url('../fonts/BentonSansBold.eot');
    src: url('../fonts/BentonSansBold.eot') format('embedded-opentype'),
         url('../fonts/BentonSansBold.woff2') format('woff2'),
         url('../fonts/BentonSansBold.woff') format('woff'),
         url('../fonts/BentonSansBold.ttf') format('truetype'),
         url('../fonts/BentonSansBold.svg#BentonSansBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('../fonts/BentonSansCondBlack.eot');
    src: url('../fonts/BentonSansCondBlack.eot') format('embedded-opentype'),
         url('../fonts/BentonSansCondBlack.woff2') format('woff2'),
         url('../fonts/BentonSansCondBlack.woff') format('woff'),
         url('../fonts/BentonSansCondBlack.ttf') format('truetype'),
         url('../fonts/BentonSansCondBlack.svg#BentonSansCondBlack') format('svg');
    font-weight: 700;
    font-style: normal;    
}

@font-face {
    font-family: 'Benton';
    src: url('../fonts/BentonModDispSemibold.eot');
    src: url('../fonts/BentonModDispSemibold.eot') format('embedded-opentype'),
         url('../fonts/BentonModDispSemibold.woff2') format('woff2'),
         url('../fonts/BentonModDispSemibold.woff') format('woff'),
         url('../fonts/BentonModDispSemibold.ttf') format('truetype'),
         url('../fonts/BentonModDispSemibold.svg#BentonModDispSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Benton';
    src: url('../fonts/BentonModDispUltraIt.eot');
    src: url('../fonts/BentonModDispUltraIt.eot') format('embedded-opentype'),
         url('../fonts/BentonModDispUltraIt.woff2') format('woff2'),
         url('../fonts/BentonModDispUltraIt.woff') format('woff'),
         url('../fonts/BentonModDispUltraIt.ttf') format('truetype'),
         url('../fonts/BentonModDispUltraIt.svg#BentonModDispUltraIt') format('svg');
    font-weight: normal;
    font-style: italic;
}