* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.6;
  background-color: #59595d;
  color: #777;
  font-family: 'BentonSans', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, textarea {
  -webkit-appearance: none;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
}

fieldset, a, img {
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-column {
  max-width: 870px;
  min-height: 100vh;
  float: left;
  width: 100%;
  background-color: #59595d;
  position: relative;
  z-index: 2;
}

.side-image {
  width: calc(100% - 870px);
  min-height: 100vh;
  max-height: 100vh;
  right: 0;
  position: fixed;
  position: relative;
  overflow: hidden;
  video, img {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
  }
}