.master-header {
  background-color: white;
  height: 64px;
  padding: 0 26px;
  width: 100%;
  max-width: 870px;
  top: 0;
}

h1 {
  float: right;
  margin-right: 26px;
  margin-top: 24px;
  line-height: 64px;
  background-image: url('../images/inhouse.png');
  background-size: 78px 15px;
  width: 78px;
  height: 15px;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h1 a {
  display: block;
  width: 72px;
  height: 15px;
}

.menu-icon {
  float: left;
  display: block;
  width: 20px;
  height: 13px;
  margin: 26px 0 0 26px;
  svg {
    fill: #777;
    display: block;
    width: 20px;
    height: 13px;
    &:hover {
      fill: #49566b;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
  .master-header {
    padding: 0;
  }
}