.thumbs {
  background: white;
  padding: 0 20px;
  margin-top: -5px;
  overflow: hidden;
}

.home {
  overflow: hidden;
  li {
    display: block;
    width: 25%;
    float: left;
    position: relative;
    padding: 5px;

    a {
      display: block;
    }
    figure {
      margin: 0;
      position: relative;
      &:hover figcaption {
        opacity: 1;
        @include transform(translate(10px, 10px));
      }
    }
    figure.open figcaption {
      opacity: 1;
      @include transform(translate(10px, 10px));     
    }
    img {
      width: 100%;
      display: block;
      position: relative;
    }
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      padding: 17px;
      background: #2c3f52;
      color: #ed4e6e;
      height: 100%;
      width: 100%;
      opacity: 0;
      text-align: center;
      backface-visibility: hidden;
      @include transition(transform 0.3s, opacity 0.3s);
      @include display(flex);
      @include justify-content(center);
      @include flex-direction(row);
      @include align-items(center);
      h3 {
        margin: 0;
        padding: 0;
        line-height: 1.2;
        margin-bottom: -4px;
        color: #fff;
        font-weight: 600;
        font-size: em(15);
      }
      span {
        font-size: em(10);
        line-height: 1;
        display: block;
        margin-top: 9px;
      }
      span:before {
        content: 'by ';
        line-height: 1;
        margin: 0;
        padding: 0;
      }
      a {
        text-align: center;
        padding: 6px 8px 2px 8px;
        border-radius: 2px;
        margin-top: 13px;
        display: inline-block;
        background: #ed4e6e;
        color: #fff;
        font-weight: 600;
        font-size: em(11);
        &:hover {
          background: #e03e5f;
        }
      }
    }
  }
}

.social-padding {
  padding: 0 26px;
  margin-bottom: 26px;
  margin-top: 21px;
}

.social-bar {
  border-top: 3px solid #777;
  overflow: hidden;
  padding-top: 9px;
}

.instagram-icon {
  width: 17px;
  fill: #777;
  float: right;
  margin-right: 7px;
  &:hover {
    fill: #517fa4;
  }
}

.pinterest-icon {
  width: 17px;
  fill: #777;
  float: right;
  &:hover {
    fill: #cb2027;
  }
}

@media only screen and (max-width: 900px) {
  .home {
    li {
      width: 33.33333333333%;
    }
  }
}

@media only screen and (max-width: 640px) {
  .home {
    li {
      width: 50%;
    }
  }
}