.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.7);
  z-index: -1;
  position: fixed;
  opacity: 0;
  @include transition(opacity 0.2s ease-in-out);
}

.overlay.open {
  opacity: .9;
}

.master-nav {
  width: em(232);
  background-color: white;
  height: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  left: em(-273);
  @include transition(left 0.2s ease-in-out);
  padding: em(28) em(30);
  li {
    margin-bottom: em(9);
  }
  a {
    text-transform: uppercase;
    font-size: em(17);
    position: relative;
    color: #777;
    &:after {
      position: absolute;
      content: "";
      bottom: em(-2);
      left: 0;
      height: 2px;
      width: 100%;
    }
  }
}

.master-nav.nav-open {
  left: 0;
}

.home-nav:hover:after {
  background-color: #a18e7f;
}

.about-nav:hover:after {
  background-color:  #c1b561;
}

.work-nav:hover:after {
  background-color: #ea8743;
}

.contact-nav:hover:after {
  background-color: #a3c6d4;
}