.project {
  background-color: white;
  padding: 0 26px 26px 26px;
  p {
    font-size: em(11);
  }
  p + p {
    margin-top: 1.5em;
  }
  h2 {
    font-size: em(29);
    font-weight: bold;
    margin-bottom: em(25, 21);
    font-weight: 700;
    color: #49566b;
  }
  .client-name {
    font-size: em(9);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: em(9, 9);
  }
}

.project-text {
  max-width: 680px;
  padding: 0 26px
}

.project-slider, .project-slider-video {
  width: 100%;
  max-height: 460px!important;
  overflow: hidden;
  background: black;
  @include display(flex);
  @include align-items(flex-start);
  @include justify-content(center);
}

.bx-viewport {
  max-height: 460px!important;
}

.bx-controls {
  position: absolute;
  top: 9px;
  right: 26px;
}

.project-scroll {
  padding-bottom: 9px;
  border-bottom: 2px solid #777;
  max-width: 340px;
  font-family: 'Benton', serif;
  font-style: italic;
}

.project + .project {
  padding-top: 30px;
}

.owl-controls {
  position: absolute;
  top: 26px;
  right: 26px;
}

.owl-dot {
  width: 11px;
  height: 11px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.owl-dot.active {
  background-color: white;
}


@media only screen and (max-width: 860px) {
  .project-slider, .project-slider-video {
    @include align-items(center);
  }
}

@media only screen and (max-width: 700px) {
  .project {
    padding: 0 26px 26px 26px;
  }

  .project-text {
    max-width: 680px;
    padding: 0;
  }

  .owl-controls {
    top: 13px;
    right: 13px;
  }
}